.btn-get__urls {
  align-items: baseline;
  background-color: #fe2c55;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  margin: 6px 0 0;
  padding: 6px;
  width: fit-content;
}
