.css-1xwagd1-DivShareFollowContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 36rem !important;
}

.tiktok-1xwagd1-DivShareFollowContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 36rem !important;
}

.btn-get__urls {
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(254, 44, 85);
  min-height: 36px;
  font-size: 18px;
  font-weight: 600;
  font-family: TikTokDisplayFont, PingFangSC, sans-serif;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 6px 8px;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 150px;
  line-height: 22px;
}
